//全局样式文件,默认主要字体大小14px

@default-font:14px;
.ApprovedFlowManagement{
    .ivu-table{font-size: @default-font;}
}
.ApprovedTermsManagement{
    .ivu-table-cell{font-size: @default-font;}
}
.SupplierList{
    .el-table{font-size: @default-font;}
}
.ProductList{
    .el-table{font-size: @default-font;}
}
.SampleManagement{
    .ivu-table{font-size: @default-font;}
}
.SampleRegularManagement{
    .ivu-table{font-size: @default-font;}
}
.feedbacklist{
    .el-table{font-size: @default-font;}
}
